{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1>Bienvenue au cabinet médical de Douzy</h1>
    <p>Nous sommes ravis de vous accueillir. Vous pouvez prendre rendez-vous avec nos médecins via notre plateforme en ligne.</p>
{% endblock %}
