{% extends 'base.html.twig' %}

{% block title %}Psychologue{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Notre Dentiste</h1>
        <p>Notre Dentiste est disponible pour vous aider et soigner vos dents.</p>
        <!-- Détails supplémentaires -->
    </div>
{% endblock %}