{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nos Services</h1>
        <ul>
            <li>Médecin généraliste</li>
            <li>Orthophoniste</li>
            <li>Cardiologue</li>
            <li>Pédiatre</li>
            <!-- Ajoute d'autres services selon tes besoins -->
        </ul>
    </div>
{% endblock %}

