{% extends 'base.html.twig' %}

{% block title %}Médecins{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nos Médecins</h1>
        <p>Nous avons une équipe de 5 médecins qualifiés prêts à vous aider. Ils sont spécialisés dans diverses disciplines médicales.</p>
        <!-- Ajoute plus de détails si nécessaire -->
    </div>
{% endblock %}
