{% extends 'base.html.twig' %}

{% block title %}Orthophonistes{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nos Orthophonistes</h1>
        <p>Nos 3 orthophonistes sont disponibles pour aider avec des troubles de la communication et du langage.</p>
        <!-- Détails supplémentaires -->
    </div>
{% endblock %}