{% extends 'base.html.twig' %}

{% block title %}Notre Psychologue{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Notre Psychologue</h1>
        <p class="text-center mb-4">Notre psychologue est disponible pour vous aider et vous accompagner dans votre bien-être mental :</p>
        <div class="card mx-auto" style="width: 50%;">
            <div class="card-header text-center">
                <h5>Psychologue</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Avec une approche bienveillante et professionnelle, notre psychologue offre des consultations pour traiter divers troubles émotionnels et psychologiques, tels que l'anxiété, la dépression, et les difficultés relationnelles. Elle est là pour vous écouter et vous soutenir dans votre parcours vers le bien-être.</p>
            </div>
        </div>
        <p class="text-center mt-4">N'hésitez pas à prendre rendez-vous pour toute consultation.</p>
    </div>
{% endblock %}
