{% extends 'base.html.twig' %}

{% block title %}Psychologue{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Notre Psychologue</h1>
        <p>Notre Psychologue est disponible pour vous aider et vous accompagner.</p>
        <!-- Détails supplémentaires -->
    </div>
{% endblock %}